html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
}

.coveragelayer {
    filter: hue-rotate(120deg) brightness(0.8) opacity(100%);
}

.loading {
    margin: auto;
    position: absolute;
    top: 30%;
    left: 40%;
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}
